<div>
    <a href="https://www.linkedin.com/in/claudio-a-fuentes" target="_blank"><img id="logo-social" class="img-fluid" src="../../../assets/linkedin.png" alt="Logo Linkedin"></a>
    <a href="https://www.github.com/ludotec" target="_blank"><img id="logo-social" class="img-fluid" src="../../../assets/github.png" alt="Logo Github"></a>
    <a href="https://www.twitter.com/claudiofuentez" target="_blank"><img id="logo-social" class="img-fluid" src="../../../assets/twitter.png" alt="Logo Twitter"></a>
    <a href="https://www.facebook.com/claudio.fuentes.3994" target="_blank"><img id="logo-social" class="img-fluid" src="../../../assets/facebook.png" alt="Logo Facebook"></a>
    <a href="https://www.instagram.com/claudiofuentez6" target="_blank"><img id="logo-social" class="img-fluid" src="../../../assets/instagram.png" alt="Logo Instagram"></a>
</div>