.row{
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
}
 .form-group{
     margin: 20px;
 }
 button{
     margin-left: 120px;
     margin-bottom: 20px;
 }
 label{
     margin-right: 8px;
     width: 100px;
 }
 @media (max-width: 450px){
    button{
      margin-left: 90px;      
      margin-bottom: 20px;
    }
}
 
    
 
 