div{
    background-color: #00434C;
}
.btn{
    color: #ffffff;
    border-color: #ffffff;
}
.login{
    float: right;
    margin-top: 30px;
    padding-right: 10px;
}

@media (min-width: 400px){
    .logo-social{
        float: right;
        margin-top: 30px;
        padding-right: 10px;
    }
}
@media (max-width: 399px){
    .logo-social{
        margin:-10px 0 10px 0;
        text-align:center;
    }
}






