.row{
    margin: 20px;
    background-color: #ffffff;
    border-radius: 25px;
}
 .form-group{
     margin: 20px;
 }
 button{
    margin: 10px;
 }
 input{
    width: 90%;
 }
 label{
     margin-right: 8px;
     width: 90%;
 }
 
 
    
 
 