<div class="container-fluid">
    <div class="row">
        <h1>Mis Proyectos</h1>
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Game Tic-Tac-Toe</h3>
                <p><b>(C++)</b></p>
                <p>Juego clásico realizado como trabajo práctico evaluado en 1° año de la tecnicatura de desarrollo de
                    software.
                    Este trabajo se usó para poner en práctica lo aprendido en la materia Estructura de datos y
                    algoritmos dada por el profesor Dueñas Emiliano.
                    La tarea fué evaluada con nota 10. Fué mi entrada a la programación por cuenta propia sin seguir un
                    tutorial.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 parte2">
                <a id="ImgRef" href="https://www.github.com/ludotec/Ites" target="_blank"><img id="linkImg"
                        class="img-fluid" src="../../../assets/github_logo.png" alt=""></a>
            </div>
            <hr>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Game HangMan</h3>
                <p><b>(Java)</b></p>
                <p>Juego clásico realizado como trabajo práctico evaluado en 2° año de la tecnicatura de desarrollo de
                    software.
                    Este trabajo se usó para poner en práctica lo aprendido en la materia Programacion II dada por el
                    profesor Dueñas Emiliano.
                    La tarea fué evaluada con nota 10. Fué mi entrada a la programación ya con interfáz gráfica, la
                    realización de este juego
                    se me hizo verdaderamente muy divertido logrando generarme satisfacción. También fué evaluada con
                    nota 10 y además
                    una felicitación de parte del profesor.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 parte2">
                <a id="ImgRef" href="https://www.github.com/ludotec/hangmanGame" target="_blank"><img id="linkImg"
                        class="img-fluid" src="../../../assets/github_logo.png" alt=""></a>
            </div>
        </div>
    </div>
</div>