<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="foto-perfil" class="img-fluid" src="../../../assets/perfil.jpg" alt="foto perfil">
        <p id="nombre"><b>{{persona.nombre}} {{persona.apellido}}</b></p>
        <p>Full Stack Developer Jr</p>
        
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span id="acerca">
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Sit quod eos illo obcaecati pariatur nesciunt voluptatem
                veritatis. Dolorum quasi ea itaque quam incidunt rerum voluptates eaque, 
                ab voluptas magni laudantium.
            </p>
            </span>
    </div>
</div>