<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="foto-perfil" class="img-fluid" src="../../../assets/perfil.jpg" alt="foto perfil">
        <p id="nombre"><b>{{persona?.nombre}} {{persona?.apellido}}</b></p>
        <p>Full Stack Developer Jr</p>
        
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span id="acerca">
            <h1>Acerca de mí</h1>
            <p>Me considero una persona que siempre busca auto-mejorarse cada día. Poniendo disciplina al momento de realizar 
                las tareas. No puedo no destacar mis más de 25 años de experiencia en formación técnica que me ayuda constantemente a 
                que los nuevos desafíos que se me presentan (no por casualidad si no que los busco) los pueda afrontar ya con una formación anticipada.
                En cuanto a la parte personal soy casado con Marina Garcia con la cual formamos una familia ensamblada de cinco hijos, cuatro de ellos ya en su propio camino. Me gustan las charlas con amigos o compañeros, juntarme a compartir momentos de ocio e ir al gimnasio ya que
                 no todo es trabajo o por lo menos eso intento. 
                </p>
            </span>
    </div>
</div>